absl-py==1.2.0
altgraph==0.17.2
attrs==22.1.0
cycler==0.11.0
fonttools==4.35.0
future==0.18.2
kiwisolver==1.4.4
matplotlib==3.5.3
mediapipe==0.8.10.1
numpy==1.23.2
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
packaging==21.3
pefile==2022.5.30
Pillow==9.2.0
protobuf==3.20.1
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pyparsing==3.0.9
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
scipy==1.9.0
six==1.16.0

setuptools~=60.2.0
sensormotion~=1.1.4
pandas~=1.4.3
seaborn~=0.11.2
pyrealsense2~=2.50.0.3812
statsmodels~=0.13.2